Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.dirstamp
src/workifi-http.o
src/workifi-mime.o
src/workifi-utils.o
src/workifi-workifi.o
stamp-h1
workifi
workifi.exe
build/
mingw-w64-x86_64-workifi.zip
